// Working on the cluster
process {
    executor = 'slurm'
    clusterOptions = '-o /fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Workflows/Transcript_Classification_Pipeline/Transcript_Classification_Pipeline/logging/%x.%j.out'
}

// Enable conda environments
conda.enabled = true


// Set the working directory 
workDir = "/fh/scratch/delete90/meshinchi_s/lwallac2/Nextflow"

// Set the location for the process logging files
log = "/fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Workflows/Transcript_Classification_Pipeline/Transcript_Classification_Pipeline/logging/nextflow.log"

params {
    help = false
    bam_directory = "/fh/scratch/delete90/meshinchi_s/lwallac2/KF_BAM_Operations/Unaligned_RNAseq/"
    primer_fasta = "/fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Python/PacBio_LR_Initial_Investigation/IsoSeq_Primers_12_Barcodes_v1_barcodeset.fasta"
    classification_reference_gtf = "/Volumes/fh/fast/meshinchi_s/workingDir/scripts/Reference_Data/PacBio_References/gencode.v39.annotation.sorted.gtf"
    classification_reference_fasta = "/Volumes/fh/fast/meshinchi_s/workingDir/scripts/Reference_Data/PacBio_References/human_GRCh38_no_alt_analysis_set.fasta"
}

