// Working on the cluster
process {
    executor = 'slurm'
    clusterOptions = '-o /fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Workflows/Transcript_Classification_Pipeline/Transcript_Classification_Pipeline/logging/%x.%j.out'
}

// Set the working directory 
workDir = "/fh/scratch/delete90/meshinchi_s/lwallac2/Nextflow"

// Set the location for the logging files
log = "/fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Workflows/Transcript_Classification_Pipeline/Transcript_Classification_Pipeline/logging/nextflow.log"

params {
    help = false
    bam_directory = "/fh/scratch/delete90/meshinchi_s/lwallac2/KF_BAM_Operations/Unaligned_RNAseq/"
    primer_fasta = "/fh/fast/meshinchi_s/workingDir/scripts/lwallac2/Python/PacBio_LR_Initial_Investigation/IsoSeq_Primers_12_Barcodes_v1_barcodeset.fasta"
    output_directory = "/fh/scratch/delete90/meshinchi_s/lwallac2/NF_Transcript_Classification/"
}

